@import '../app.component.css';

mat-form-field {
    display: block;
    margin-left: 40%;
    margin-right: 40%;
    color: #282850; 
}

h2 {
    text-align: center;
}

#produitDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 200%;
    font-size: large;
    font-weight: 500;
}

#discount {
    background-color: #282850; 
    color: white;
}

#discount:disabled {
    background-color: gray;
}

md-error {
    font-size: 9px;
    color: red;
}